# udev rules for OpenTL866 programmers
#
# Symlinks the serial device the programmer binds to to /dev/tl866
# If you plan to have several devices attached, switched to the numbered device rule below

ACTION!="add", GOTO="tl866_end"

ACTION=="add", SUBSYSTEM=="plugdev", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="8661", SYMLINK+="tl866", GROUP="adm"
# ACTION=="add", SUBSYSTEM=="plugdev", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="8661", SYMLINK+="tl866_%n", GROUP="adm"

LABEL="tl866_end"
